html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: Helvetica;
}

#top_bar {
  background-color: #1A1A1A;
  color: whitesmoke;
  font-size: xx-large;
  width: 100%;
  height: 50px;
}

.page_wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidepanel {
  flex: 1;
  width: 5%;
  height: 100%;
  background-color: #1A1A1A;
  flex-direction: column;
  display: flex;
}

.hub {
  flex: 15;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;

}

.wc_text {
  flex-grow: 1;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 7px;
}

.wc_pdf {
  flex-grow: 1;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 10px;
  background-color: #1A1A1A;
}


#text_box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  width: 100%;
  height: 100%;
}

#text_field {
  resize: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pdf_view {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.button_wrap {
  flex: 1;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#render:hover, #but_es:hover, #but_emp:hover, #but_lat:hover, #download_tex:hover, #download_pdf:hover {
  flex-grow: 4;
  max-height: 80px;
  cursor: pointer;
}

#render, #but_es, #but_emp, #but_lat {
  flex: 1;
  max-height: 60px;
  font-size: large;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 7px solid #1A1A1A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 #download_tex, #download_pdf {
  flex: 1;
  text-align: center;
  max-height: 60px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 7px solid #1A1A1A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  all: unset;
  font-family: Helvetica;
}
