<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>WebTex</title>
</head>
<body>
    <div id="top_bar"> This will be a top bar</div>
    <div class="page_wrap">
        <div class="sidepanel">This will be a side pannel</div>
        <div class="hub">
            <div class="wc_text"><div id="text_box">
                <textarea 
                    id="text_field" 
                    cols="90" 
                    rows="50" 
                    placeholder="Your LaTeX code goes here">
                </textarea>
            
            </div></div>
            <div class="wc_pdf"><iframe src="http://localhost:8080/pdf" width="100%" height="100%"></iframe></div>
        </div>
    </div>
</body>
</html>
