<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>WebTex</title>
</head>
<body>
    <div id="top_bar">WebTex</div>
    <div class="page_wrap">
        <div class="sidepanel">
            <div class="button_wrap">
                <button id="render">Render</button>
                <div id="download_tex"><a href="{{ url_for('views.download', filename='t_file.tex') }}">Download .tex</a></div>
                <div id="download_pdf"><a href="{{ url_for('views.download', filename='t_file.pdf') }}">Download .pdf</a></div>
                <button id="but_es">Essay preset</button>
                <button id="but_emp">Empty title preset</button>
                <button id="but_lat">LaTeX preset</button>
            </div>
        </div>
        <div class="hub">
            <div class="wc_text">
                <div id="text_box">
                    <textarea 
                        id="text_field">
                    </textarea>
                </div>
            </div>
            <div class="wc_pdf">
                <iframe id="pdf_view" src="{{ url_for('views.pdf') }}"></iframe>
            </div>
        </div>
    </div>
    <script src="https://pagecdn.io/lib/ace/1.4.14/ace.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.14/mode-latex.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.14/ext-language_tools.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.14/ext-emmet.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>
